@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #04083a;
  scroll-behavior: smooth;
}

.headerSticky{
  position: fixed;
  top: 0;
  background-color: #05093980;
  backdrop-filter: blur(4px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media only screen and  (min-width: 1024px) {
  .video{
    max-width: 60.3125rem;
    z-index: 1;
    position: relative;
  }

  .video:before{
    box-shadow: 0px 0px 5px #00b1ff;
    border: 1px solid #00b1ff;
    box-shadow: 0px 0px 20px #00b1ff;
    content: "";
    position: absolute;
    width: 100%;
    height: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: -2;
  }
}


/*SWIPER CONFIG*/
.swiper-slide{
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-button-prev, .swiper-button-next {
  color:#e70000 !important;
}

.swiper-pagination-bullet-active{
  background: #e70000 !important;
}

.hidding{
  display: none;
}

#styleButton{
  background-color: #e70000 !important;
  transition-property: all !important;
  transition-duration: 200ms !important;
  box-shadow: 0px 0px 20px #e7004c !important;
  color: #fff !important;
}

#styleButton:hover{
  background-color: #f17908 !important;
  transition-property: all !important;
  transition-duration: 200ms !important;
  box-shadow: 0px 0px 20px #f17908 !important;
  color: #fff !important;
}

#styleButton:disabled{
  background-color: #4e4e4e !important;
}